<h1>Series

In [61]:
import pandas as pd

In [62]:
obj = pd.Series([1, 2, 3, 5, 6])

In [63]:
obj

0    1
1    2
2    3
3    5
4    6
dtype: int64

In [64]:
obj.dtype

dtype('int64')

In [65]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [66]:
""" registros y columnas en estructura """
obj.shape

(5,)

In [67]:
""" navegar por cada elemto """

obj[1]

2

In [68]:
""" asignar valor a elemnto por indice  """

obj[1] = 6

In [69]:
obj

0    1
1    6
2    3
3    5
4    6
dtype: int64

<label> asignar index a los datos

In [70]:
obj2 = pd.Series([4, 7, -5, 3], index=["a", "b", "c", "d"])

In [71]:
obj2

a    4
b    7
c   -5
d    3
dtype: int64

<label> Seleccionar por indice

In [72]:
obj2[["a", "c"]]

a    4
c   -5
dtype: int64

<label>comparacion

In [73]:
obj2 < 0

a    False
b    False
c     True
d    False
dtype: bool

<label> contenido multiplicado

In [74]:
obj * 2

0     2
1    12
2     6
3    10
4    12
dtype: int64

<label>exite un indice en el df

In [75]:
"b" in obj2

True

In [76]:
"z" in obj2

False

In [77]:
sdata = {"ohaio": 3500, "texas": 7100, "oregon": 1600, "utah": 5000, "California": 2300}

In [78]:
obj3 = pd.Series(sdata)
obj3

ohaio         3500
texas         7100
oregon        1600
utah          5000
California    2300
dtype: int64

In [79]:
states = ["ohaio", "texas", "oregon", "California",'utah']

In [80]:
obj4 = pd.Series(sdata, index=states)
obj4

ohaio         3500
texas         7100
oregon        1600
California    2300
utah          5000
dtype: int64

In [81]:
pd.isnull(obj4)

ohaio         False
texas         False
oregon        False
California    False
utah          False
dtype: bool

In [82]:
obj3 + obj4

California     4600
ohaio          7000
oregon         3200
texas         14200
utah          10000
dtype: int64

<label> dar nombre a objeto

In [84]:
obj4.name = "pupulation"
obj4

ohaio         3500
texas         7100
oregon        1600
California    2300
utah          5000
Name: pupulation, dtype: int64

In [86]:
obj4.index.name = "state"
obj4

state
ohaio         3500
texas         7100
oregon        1600
California    2300
utah          5000
Name: pupulation, dtype: int64

In [88]:
obj4["California"]

2300

<label>cambiar nombre de los indices

In [90]:
obj4.index = ["BOB", "steve", "JEFF", "RYAN", "ARTUR"]
obj4

BOB      3500
steve    7100
JEFF     1600
RYAN     2300
ARTUR    5000
Name: pupulation, dtype: int64

:

<label> data