In [ ]:
#pip list

In [1]:
# import psycopg2 as py    Postgres
# import Pymssql          SQL Server
# pyodbc
# pyjdbc

import pymysql as py
import pandas as pd

In [2]:
# Conexión por Pymysql a Servidor Mysql
# Verificar que se tienen los Drivers instalados adecuadamente
try:    
     cnd = py.connect(
                  host     = '127.0.0.1', 
                  user     = 'root', 
                  password = 'Ekroku2K24',
                  database = 'superstore')
except:
    print ("No puedo conectarme a la DB, verifica por favor.")

In [3]:
# Leer archivo de SQL 
#SQLV1 = open('/home/rru/Desktop/Query_SQL.sql','r')

SQLV1 = 'select * from superstore'

# Generar conexión  a Pandas a través de SQL_Query
#DFAccounts = pd.read_sql_query(SQLV1,cnd)

#DFAccounts01 = pd.read_sql_query(SQLV1.read(),cnd)

DFsuper = pd.read_sql(SQLV1,cnd)

/tmp/ipykernel_3803/1908301077.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  DFsuper = pd.read_sql(SQLV1,cnd)

In [4]:
DFsuper

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,...,PostalCode,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

# Conexión por Pymysql a Servidor Mysql
# Verificar que se tienen los Drivers instalados adecuadamente
try:    
     cnd2 = py.connect(
            host   = '127.0.0.1', 
            user     = 'root', 
            password = 'Ekroku#2K24',
            database = 'mysql')
except:
    print ("No puedo conectarme a la DB, verifica por favor.")

In [5]:
#Eliminar registros de tabla destino (sustitución - proceso previo)

cur = cnd.cursor()
try:
    cur.execute("delete from superstore")
    cnd.commit()
except:
    print ("No puedo ejecutar la consulta")
cur.close()

In [6]:
# Enviar datos de DF a Destino con SQLAlchemy

#Importar librerías de SQL Alchemy
from sqlalchemy import create_engine

#Conexión como parámetro DWH destino 
emy = create_engine('mysql+pymysql://root:Ekroku2K24@localhost:3306/superstore')
# mysql+pymysql

In [7]:
#Enviar datos de DF a Tablas OLAP

#DFProductos[['pk_producto','nombre_producto']].to_sql('dim_productos',epg, if_exists='append',index=False)

DFsuper.to_sql('superstore',emy, if_exists='append',index=False)

9994

In [ ]:
#DFUser.to_json('User.json')

In [21]:
DFsuper.to_parquet('superstore.parquet')

# Librerías para formato Parquet

pip install pyarrow

# Librerías para formato Excel

pip install xlrd

In [2]:
import pandas as pd

DFsuper = pd.read_excel('Superstore.xls')

In [11]:
DFsuper.to_csv('superstore.csv')