In [1]:
#import psycopg2 as py
import pymysql as py
import pandas as pd

In [2]:
# Conexión por Pymssql a Servidor Mysql
# Verificar que se tienen los Drivers instalados adecuadamente
try:
    cnd = py.connect(
        host="127.0.0.1", user="root", password="Donas120", database="prueba"
    )
except:
    print("No puedo conectarme a la DB, verifica por favor.")

In [3]:
cnd

In [4]:
# Leer archivo de SQL 
SQLV1 = open('/home/rru/Desktop/Query_SQL.sql','r')

#SQLV1 = 'select * from account'

# Generar conexión  a Pandas a través de SQL_Query
#DFAccounts = pd.read_sql_query(SQLV1,cnd)
DFAccounts01 = pd.read_sql_query(SQLV1.read(),cnd)

#DFProductos = pd.read_sql_query(SQLV1,cnd)

FileNotFoundError: [Errno 2] No such file or directory: '/home/rru/Desktop/Query_SQL.sql'

In [6]:
DFAccounts01

,account_id,account_parent,account_description,account_type,account_rollup,Custom_Members
0,1000,NaN,Assets,Asset,~,None
1,2000,NaN,Liabilities,Liability,~,None
2,3000,5000.0,Net Sales,Income,+,None
3,3100,3000.0,Gross Sales,Income,+,"LookUpCube(""[Sales]"",""(Measures.[Store Sales],..."
4,3200,3000.0,Cost of Goods Sold,Income,-,None
5,4000,5000.0,Total Expense,Expense,-,None
6,4100,4000.0,General & Administration,Expense,+,None
7,4200,4000.0,Information Systems,Expense,+,None
8,4300,4000.0,Marketing,Expense,+,None
9,4400,4000.0,Lease,Expense,+,None
10,5000,NaN,Net Income,Income,+,None
11,6000,3000.0,ZZZ,Income,+,None

In [7]:
# Conexión por Pymssql a Servidor SQL Server 
# Verificar que se tienen los Drivers instalados adecuadamente
try:    
     cnd2 = py.connect(
            host   = '127.0.0.1', 
            user     = 'root', 
            password = 'Ektek$2K23',
            database = 'foodoltp')
except:
    print ("No puedo conectarme a la DB, verifica por favor.")

In [8]:
cur = cnd2.cursor()
try:
    cur.execute("delete from account01")
    cnd2.commit()
except:
    print ("No puedo ejecutar la consulta")
cur.close()

In [9]:
# Enviar datos de DF a Destino 

#Importar librerías de SQL Alchemy
from sqlalchemy import create_engine

#Conexión como parámetro DWH destino 
emy = create_engine('mysql+pymysql://root:Ektek$2K23@localhost:3306/foodoltp')
# mysql+pymysql

In [10]:
emy

Engine(mysql+pymysql://root:***@localhost:3306/foodoltp)

In [11]:
#Enviar datos de DF a Tablas OLAP

#DFProductos[['pk_producto','nombre_producto']].to_sql('dim_productos',epg, if_exists='append',index=False)

DFAccounts01.to_sql('account01',emy, if_exists='append',index=False)